:root {
  --Black: #1d1d20;
  --Hovering: #333;
  --White: #f9f9f9;
}

* {
  list-style: none;
}

body {
  background-image: url("./assets/arabic-calligraphy-wallpaper-on-white-600nw-2259739467.webp");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 20px;
  font-family: "Harmattan", sans-serif;
}
.routes {
  display: inline-block;
  margin: 10px 20px;
  font-size: 32px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.animated-underline {
  position: relative;
  text-decoration: none;
  color: var(--Hovering);
}

.animated-underline::before,
.Open::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--Hovering);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.animated-underline:hover::before,
.Open {
  visibility: visible;
  transform: scaleX(1);
  color: #999;
}
.Open::before {
  visibility: visible;
  transform: scaleX(1);
}
.ProfilePic {
  width: 190px;
  display: inline-block;
  border-radius: 25px;
}
.Griding {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
  width: 60%;
}
.AboutMe {
  text-align: right;
  font-size: 20pt;
}
.AboutMe h1 {
  font-size: 35pt;
  margin-bottom: 20pt;
}
.Layout {
  display: flex;
  justify-content: center;
}
.links {
  text-decoration: none;
  color: lightslategray;
  transition: 0.5s;
}
.links:hover {
  color: #1d1d20;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Qualification {
  padding: 30px;
  height: 100%;
  width: 100%;
  background-color: var(--Black);
  color: rgb(204, 198, 198);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0;
}
.Qualification h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
.Qualities {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Qualities h3 {
  font-weight: bold;
  font-size: 30px;
}
.BUTT {
  display: block;
  margin: 10px;

  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  border: var(--Hovering) 2px solid;
}
.BUTT:hover {
  background-color: var(--Hovering);
}
.DropDot {
  color: white !important;
}
.DropDown {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--White);
  min-width: 160px;
  height: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 0px 20px 20px 0px;
  transition: 0.3s;
  padding: 10px;
}
@media screen and (max-width: 800px) {
  .Griding {
    grid-template-columns: 1fr;
  }
  body {
    background-image: url("./assets/stock-photo-arabic-calligraphy-wallpaper-on-a-white-wall-with-a-black-interlocking-background-subtitles-2152328161.jpg");
    background-size: cover;
  }
  .AboutMe h1 {
    font-size: 25pt;
    text-align: center;
    font-weight: 740;
  }
  .ProfilePic {
    width: 150px;
  }
  .Qualities {
    display: inline-block;
  }
  .Qualification {
    margin-top: 0;
  }
  .AboutMe {
    text-align: center;
  }
  .routes {
    display: block;
  }
}
.percentage-bar {
  width: 100%;
  margin: 20px auto;
}
.progress {
  background-color: var(--White);
  height: 1rem;
  line-height: 30px;
  text-align: center;
  color: white;
  transition: width 0.3s ease;
  border-radius: 5px;
}
.Certifications {
  background-color: #222;
  border-radius: 20px;
  width: 90%;
  padding: 20px;
  display: flex;
  gap: 40px;
  flex-direction: column;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
@media (min-width: 800) {
  .Certifications {
    padding: 60px;
    text-align: start;
    align-items: start;
    gap: 100px;
  }
  .Certificate {
    width: 100%;
    display: flex;
    flex-flow: column;
  }
  .CertiDate {
    display: flex;
    align-self: self-end;
    font-size: 23px;
  }

  .CertifiIcon {
    position: relative;
    bottom: 5px;
  }
  .CertifiHeader {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
  }
  .CreditLInk {
    font-size: 20px;
    border-radius: 10px;
  }
}
