.ProjectRoute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 60px;
}
.ImageHover {
  width: 300px;
  border-radius: 15px;
}
.ProjectRoute h1 {
  margin-bottom: 60px;
  color: var(--Black);
  font-size: 30pt;
  text-align: center;
}
.Projects {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
  height: 100%;
}
.Project-Link {
  border: none;
  padding: 0;
  border-radius: 30px;
}
.Project-Link:hover {
  transition: 0.3s;
  filter: brightness(0.8);
}
.Project-Link .text {
  position: relative;
}
.Project-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.Project-popup button {
  width: 30pt;
  align-self: end;
  text-align: center;
  margin-top: 10px;
}
.Project-POP-Container {
  text-align: end;
}
.Project-popup-content {
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: var(--White);
  padding: 20px;
  border-radius: 10px;
}
.GithubLink button {
  border-radius: 20px;
  margin-top: 20px;
  width: 100%;
  border: none;
  padding: 10px;
  color: var(--White);
  background-color: var(--Hovering);
}

.GithubLink button:hover {
  filter: brightness(0.8);
}
.GithubLink span {
  margin-right: 10px;
}
.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.techno {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--Hovering);
  color: var(--White);
}
